<ion-content class="">
    <div
        class="species-container"
        [ngClass]="selectedSpecie.id != 0 ? 'specice-selected' : ''"
    >
        <div class="specice-selected-container">
            <img [src]="'../../assets/img/species/' + selectedSpecie.img" />
        </div>
        <div style="padding: 10px 15px;">
            <div
                style="white-space: nowrap; display: flex;align-items: center; margin-top: 10px;"
            >
                <div style="margin-top: 0; display: inline-block;">
                    <ion-button
                        color="white"
                        size="small"
                        routerLink="/challenges"
                        icon
                        flat
                    >
                        <ion-icon
                            name="arrow-back"
                            style="color: #000; font-size: 25px;"
                        ></ion-icon
                    ></ion-button>
                </div>
                <h2 style="margin-top: 0; display: inline-block;">
                    Know more about <br />
                    Penguins!
                </h2>
            </div>
            <p style="line-height: 25px; margin:  10px;">
                Penguins are flightless birds that are well adapted to aquatic
                life. Let's know them more...
            </p>
        </div>
        <ul
            class="radial-nav"
            (click)="showAll($event)"
            [ngClass]="[expanded ? ' expanded' : '']"
        >
            <li
                class="penguin-avatar"
                [attr.data-content]="specie.name"
                *ngFor="let specie of species"
                [ngClass]="[specie.id == selectedSpecie.id ? ' selected' : '']"
            >
                <a (click)="showPenguin($event, specie.id)">
                    <img [src]="'./../../assets/img/species/' + specie.img" />
                </a>
            </li>
            <li class="menu" *ngIf="selectedSpecie.id == 0">
                <ion-button>Pick a specie</ion-button>
                <!-- <ion-fab size="large" vertical="center" horizontal="center" slot="fixed">
                    <ion-fab-button>
                        <ion-icon name="md-apps"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="top" style="display: none">
                        <ion-fab-button
                            ><ion-icon name="logo-vimeo"></ion-icon
                        ></ion-fab-button>
                    </ion-fab-list>
                </ion-fab> -->
            </li>
        </ul>
        <div class="specice-selected-container-content">
            <h2 class="ion-text-center" style="margin-top: 100px;">
                {{ selectedSpecie.name }}
            </h2>
            <p style="padding: 10px 15px; line-height: 26px">
                {{ selectedSpecie.desc }}
                <br/>
                <a style="color:mediumslateblue" href="https://www.birdlife.org/">more here...</a>
            </p>

            <ion-button
                style="width:93%; position: absolute; left: 10px; right: 10px; bottom: 10px;"
                routerLink="/challenge-completed"
                >Next</ion-button
            >
        </div>
    </div>
</ion-content>
