<ion-content>

    <ion-button
    size="medium"
    color="transparent"
        style="position: absolute; left: 5px; top:20px; z-index: 12;"
        routerLink="/challenges"
    >
        <ion-icon
            name="arrow-back"
            style="color: #fff; font-size: 25px;"
        ></ion-icon>
    </ion-button>
    <img
        src="../../assets/img/chat/sticker.gif"
        alt=""
        style="position: absolute; right: 15px; top:42.5vh; width: 90px; z-index: 10;"
    />
    <img
        src="../../assets/img/chat/img.png"
        alt=""
        style="position: fixed; top: 0;left: 0;right: 0;bottom: 0;max-height: 100vh;"
    />
</ion-content>
