<ion-toolbar color="primary">
    <ion-title>Upcoming Challenges</ion-title>
</ion-toolbar>
<ion-content>
    <ion-list lines="none" style="height: 100%">
        <ion-card
            style="padding: 5px 0; margin: 10px 5px; "
            *ngFor="let challenge of challenges"
        >
            <ion-item>
                <ion-avatar slot="start" style="width: 85px; height: 85px;">
                    <img
                        src="./avatar-finn.png"
                        style="background-color: lightgrey"
                    />
                </ion-avatar>
                <ion-label class="card">
                    <h2>{{challenge.name}}</h2>
                    <p style="height: 35px; white-space: initial;">{{challenge.desc}}</p>
                    <div class="difficulty">
                      <span *ngFor="let x of [1,2,3,4,5]" [ngClass]="challenge.level >= x ? 'active ' +'level-'+challenge.level  :''"></span>
                      <!-- <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span> -->
                    </div>
                </ion-label>
            </ion-item>
        </ion-card>
    </ion-list>
</ion-content>
