
.welcome-container > .header {
    -webkit-flex: 4;
    padding-top: 20px;
}

.welcome-container > .header > img {
	width: 40px;
	height: 50px;
}

.welcome-container > .button-row img {
    max-width: 80%;
}

.welcome-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efad62), color-stop(100%,#f7d47c));
    background: -webkit-linear-gradient(top, #efad62 0%,#f7d47c 100%);
}