:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
.swiper-slide {
    display: block;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ion-slide > h2 {
    margin-top: 2.8rem;
}
ion-slide > img {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
}
ion-slide > div {
    background-image: url("../../assets/img/background.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
// ion-item {
// 	padding-left: 100px;
// 	padding-right: 100px;
// }

ion-item > ion-label {
    margin-left: 30px;
}

ion-avatar.penguin {
    height: 60px;
    width: 60px;
    border: 1px solid;
}

.penguin-speech {
    background-image: url("../../assets/img/penguin_welcome.png") !important;
}

.penguin-speech > div {
    margin-top: 50px;
}
