<ion-header color="primary">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button routerLink="/challenges">
                <ion-icon
                    name="arrow-back"
                    style="color: #fff; font-size: 25px;"
                ></ion-icon
            ></ion-button>
        </ion-buttons>
        <ion-title>Fish consumption</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <img
        src="../../assets/img/challenge/FishChallenge.png"
        style="background-color: lightgrey; border-radius: 50%; margin: 10px 20px;"
    />
    <p style="margin: 10px; line-height: 26px">
        Human fish consumption has quadrupled over the last 50 years. This has a
        direct impact on the penguins as their main food resource is shrinking
        dramatically. In addition, penguins regularly get caught in nets of
        fisheries and die. The goal of this challenge is therefore to reduce the
        consumption of wild cuaght fish.
    </p>
    <ion-button
        color="primary"
        routerLink="/home"
        style="position: fixed; left: 10px;bottom: 10px;right: 10px; width: 92%; z-index: 99;"
        >Start Challenge</ion-button
    >
</ion-content>
