<ion-header>
    <ion-toolbar>
        <ion-title>Fish consumption</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h2>Your Progress</h2>
    <div class="set-size charts-container">
      <div class="pie-wrapper progress-30">
        <span class="label">{{percentage}}<span class="smaller">%</span></span>
        <div class="pie">
          <div class="left-side half-circle"></div>
          <div class="right-side half-circle"></div>
        </div>
      </div>
    </div>
    <div>
        <ion-list style="width: 100%;">
          <ion-list-header>Accomplished Days!</ion-list-header>
          <ion-item>
            <ion-button size="small" color="primary">MON</ion-button>
            <ion-button size="small" color="primary">TUE</ion-button>
            <ion-button size="small" [attr.color]="btnActive ? 'primary' : 'light'" (click)="presentToast()">WED</ion-button>
            <ion-button size="small" color="light">THU</ion-button>
            <ion-button size="small" color="light">FR</ion-button>
            <ion-button size="small" color="light">SA</ion-button>
            <ion-button size="small" color="light">SUN</ion-button>
          </ion-item>
        </ion-list>
    </div>

    <div class="button-container">
        <ion-button expand="block" routerLink="/single-challenge">More Info</ion-button>
    </div>
    <ion-fab vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button color="light" routerLink="/challenge-completed">
        <ion-icon name="fastforward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
